<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Game Test</title>

        <!-- STYLE SHEETS -->
        <link rel="stylesheet" media="screen, projection" href="styles/screen.css" />

        <!-- JAVASCRIPT -->
        <script type="text/javascript" src="scripts/require-config.js"></script>
        <script type="text/javascript" src="scripts/require.js" data-main="scripts/main"></script>

    </head>

    <body>
        <!-- Only the game canvas should be added here and done so programmatically -->
    </body>
</html>